* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

.main{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  --current-slide:0;
}

.banner {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transform: translateY(calc(-100% * var(--current-slide)));
  transition: transform 0.5s;  
}

.menu-overlay-hidden {
  background-color: black;
  position: absolute;
  bottom: 0;
  font-size: 35px;
  text-decoration: none;
  transform: translateY(100%);
  transition: all 0.5s ease-out;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
}

.menu-overlay-display {
  transition: all 0.5s ease-in;
  transform: translateY(0);
  border-radius: 0%;
  text-align: left;
}

.menu-overlay-hidden ul {
  margin-top: 5rem;
  margin-left: 5rem;
}

.menu-overlay-hidden ul li {
  list-style: none;
  margin: 0 20px;
  position: relative;
}

.menu-overlay-hidden ul li a {
  text-decoration: none;
  color: #FFFFFF;
}


.button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  width: 10%;
  justify-content: space-between;
}

.navbar {
  width: 95%;
  height: 10%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 21px;
  font-weight: 600;
}


.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #333131;
}


.navbar ul li:hover::after {
  width: 100%;
}

.left{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.content img{
  width: 70px;
}

.content {
  width: 70%;
  text-align: left;
  color: #171719;
}

.content h1 {
  font-size: 115px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
  font-size: 21px;
}

.next-btn , .pre-btn , .menu{
  cursor: pointer;
  opacity: 0.8;
} 


.next-btn:hover,
.pre-btn:hover,
.menu {
  opacity: 1;
}

